-----BEGIN CERTIFICATE-----
MIIEEzCCAvugAwIBAgIJAMuBnKR2W1SIMA0GCSqGSIb3DQEBBQUAMIGeMQswCQYD
VQQGEwJGSTETMBEGA1UECAwKU29tZS1TdGF0ZTEOMAwGA1UEBwwFRXNwb28xGTAX
BgNVBAoMEEludGVsIEZpbmxhbmQgT3kxDDAKBgNVBAsMA09UQzEaMBgGA1UEAwwR
QWxleGFuZGVyIEthbmF2aW4xJTAjBgkqhkiG9w0BCQEWFmFsZXgua2FuYXZpbkBn
bWFpbC5jb20wIBcNMTMwNDEyMTcwNTM3WhgPMzAxMjA4MTMxNzA1MzdaMIGeMQsw
CQYDVQQGEwJGSTETMBEGA1UECAwKU29tZS1TdGF0ZTEOMAwGA1UEBwwFRXNwb28x
GTAXBgNVBAoMEEludGVsIEZpbmxhbmQgT3kxDDAKBgNVBAsMA09UQzEaMBgGA1UE
AwwRQWxleGFuZGVyIEthbmF2aW4xJTAjBgkqhkiG9w0BCQEWFmFsZXgua2FuYXZp
bkBnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC5eHgN
9PCp5IyL9VQKECJQWNxmOPrKGDybMtb3eUXR2YnVuUjhT0tU5r01znL8g5BVph1r
Ud+l485YnSk9s5yCKHw02x7lJKK6MvuaQ29gHcpPA7VIPihZCD36Nm422XOnfbX+
iE7FU9ntbkZjnJLAOoTZAHNInm12yFrSyRuq0o2KzHq5dz4sbPhbSZKFALo7JyA2
v9fkjXuklb303mOLqvfXV4JZf9WQTYWtDi2eNm/zvpB6pEnZTL10S74tEXzC3Ym/
KoThGJgNJ2jJoafAAb+JzI/UeFUQg8yDkhwQbkAp/WZlL70Wf7OBzcFFPpw+DM0I
Wq3O3H/8SOLamIVBAgMBAAGjUDBOMB0GA1UdDgQWBBT8YvSLk3CdcHWw5XNoDoEg
sxdnOjAfBgNVHSMEGDAWgBT8YvSLk3CdcHWw5XNoDoEgsxdnOjAMBgNVHRMEBTAD
AQH/MA0GCSqGSIb3DQEBBQUAA4IBAQBzWHE1IMJZB6kArhfIe55DGiqEPloctefK
YbgwgPMTPOztigG1fAEaktmzCOF0jRD4S4pT7ViR5jytm1rHWrjGQyMpZlGCviqN
luyMzFbgRjdf0HZgT6MgUfCG12h4FmnDuHAd8iK2zQkZUESlQMzNXMzCbLFJG76W
4Z34HKUT9lRFCx2QpoisIEnP6tawWDQLpqIgcKiwdy3tu656+fv7x04pYo07kR1N
k+Q6wbqQO7cHTSAxsTdOE7q1IQgeTnCa4MiSkOLYsSwMxOezBm5DGgW9JOoipP2B
vXRG0oC5G5Htj48TS2/lyAS9jSjur+EFfNK3vwMeHcDThrskK+7p
-----END CERTIFICATE-----
